<%- include('../templates/head', {tituloWeb: '- Panel Control' }) %>

  <!-- Start User Profile Area -->
  <section class="about-us section">
    <div class="">
      <div class="row">
        <aside class="col-lg-3 col-md-4 col-12 d-flex justify-content-center mb-5">
          <div class="sidebar ml-2 border-1 border-right">
            <div class="mb-3 text-center">
              <img class="rounded-circle border border-2 border-primary" src="images/profiles/admin.png" alt=""
                style="width: 200px; height: 200px;">
              <p class="mt-4">Hola, <span class="text-primary font-weight-bold">Administrador</span></p>
              <small>user@user</small>
            </div>
            <hr class="w-50 mx-auto">
            <div class="widget popular-feeds px-5" style="border-style: none;">
              <div class="">
                <div class="single-popular-feed">
                  <i class="fas fa-columns fa-lg d-inline mr-2"></i>
                  <h6 class=""><a href="/panelControl">Panel Principal</a></h6>
                </div>
                <div class="single-popular-feed">
                  <i class="fas fa-users fa-lg d-inline mr-2"></i>
                  <h6 class=""><a href="/usuariosRegistrados">Usuarios Registrados</a></h6>
                </div>

                <div class="single-popular-feed text-primary">
                  <i class="fas fa-book fa-lg d-inline mr-2"></i>
                  <h6 class="text-primary"><a href="/administrarCursos">Administrar Cursos</a></h6>
                </div>
                <div class="single-popular-feed">
                  <i class="fas fa-dollar-sign fa-lg d-inline mr-2"></i>
                  <h6 class=""><a href="/ganancias">Ganancias</a></h6>
                </div>

              </div>
            </div>
          </div>
        </aside>
        <div class="col-lg-9 col-md-8">
          <div class="container mt-4">
            <div class="about-left mt-4">
              <div class="section-title">
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Cantidad de cursos: <h2
                    class="font-weight-bold font-italic text-primary"><%= administrarCursos.length %></h2><!--Mostramos la cantidad de cursos-->
                </h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">Aquí podras administrar los cursos</p>
              </div>
            </div>

            <div class="services">
              <div class="single-head">
                <div class="d-grid gap-2 d-md-block mb-4">
                  <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalAgregar">
                    <i class="fas fa-plus-circle"></i> Agregar un Curso</button>
                </div>

                <table class="table table-bordered  border-primary text-center">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">#</th>
                      <th scope="col">Logo</th>
                      <th scope="col">Curso</th>
                      <th scope="col">Precio</th>
                      <th scope="col" class="table-success">Editar</th>
                      <th scope="col" class="table-danger">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < administrarCursos.length; i++) { %>
                    <tr>
                      <th scope="row"><%= i+1 %></th> <!-- PARA QUE EL NUMERO NO COMIENZE MOSTRANDOSE EN CERO-->
                      <td><img src="images/products/<%= administrarCursos[i].logo %>" style="width: 50px; height: 50px;"></td>
                      <td><%= administrarCursos[i].name %></td>
                      <td>$ <%= administrarCursos[i].price %></td>
                      <td>
                        <a href="/administrarCursos/editar/<%= administrarCursos[i]._id %>">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar"><i class="far fa-edit"></i></button>
                        </td>
                        </a>
                      <td>
                      <a>
                        <button type="button" class="btn btn-outline-danger"  data-toggle="modal" onclick="eliminaEvento('<%= administrarCursos[i]._id %>')" data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button>
                      </a> 
                      </td>
                    </tr>
                    <% } %>                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- SCRIPT PARA ASIGNAR EL ID A ELIMINAR AL MODAL-->
    <script>
      function eliminaEvento(idEliminar){
        id=idEliminar;
        document.getElementById('idEliminar').value = id;  
        }
      </script>
    <!-- Modal Eliminar-->
    <form action="/administrarCursos/eliminar" method="get">
    <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Eliminar curso</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Está seguro de que desea eliminar el curso de ?
            <input id="idEliminar" name="idEliminar" hidden>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

    <!-- Final Modal eliminar-->

    <!-- Modal editar-->
    <div class="modal fade" id="modalEditar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Editar curso</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="/administrarCursos/agregar">
          <div class="modal-body">
            
              <div class="row">
                <label class="form-label">
                  <b><i class="fas fa-image"></i> Logo del curso:</b>
                </label>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="logoEditar" name="logo" value="<%=  %>" required>
                </div>

                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-book"></i> Curso:</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre del curso" id="nameEditar" name="name" value="<%=  %>" required>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-dollar-sign"></i> Precio:</b>
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Precio" aria-label="Apellido" value="<%= %>" id="priceEditar" name="price" step="0.01" required>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-align-center"></i> Contenido:</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Contenido del curso" value="<%= %>" id="contentEditar" name="content" required>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-thumbs-up"></i> Beneficios:</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Beneficios del curso" value="<%= %>" id="benefitsEditar" name="benefits" required>
                  </div>
                </div>

                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-list"></i> Categoria:</b>
                  </label>
                <select class="form-select" aria-label="Default select example" value="<%= %>" name="category" id="categoryEditar">
                  <option value="ofimatica" selected>Ofimatica</option>
                  <option value="redes sociales">Redes Sociales</option>
                </select>
              </div>
              
              <div class="col-12">
                <label class="form-label">
                  <br>
                  <b><i class="fas fa-comment-alt"></i> Descripcion:</b>
                </label>
                <div class="input-group mb-3">
                  <textarea type="text" class="form-control" placeholder="Describa" cols="57" rows=5 value="<%= %>" id="descriptionEditar" name="description" required></textarea>
                </div>
              </div>
              </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <!-- Final Modal editar-->

    <!-- Modal Agregar curso-->
    <div class="modal fade" id="modalAgregar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Agregar curso</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="/administrarCursos/agregar">
          <div class="modal-body">
            
              <div class="row">
                <label class="form-label">
                  <b><i class="fas fa-image"></i> Logo del curso:</b>
                </label>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="logo" name="logo" accept="image/png, image/jpeg, image/jpg" required>
                </div>

                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-book"></i> Curso:</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre del curso" id="name" name="name" required>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-dollar-sign"></i> Precio:</b>
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Precio" aria-label="Apellido" id="price" name="price" step="0.01" required>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-align-center"></i> Contenido:</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Contenido del curso" id="content" name="content" required>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-thumbs-up"></i> Beneficios:</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Beneficios del curso" id="benefits" name="benefits" required>
                  </div>
                </div>

                <div class="col-6">
                  <label class="form-label">
                    <b><i class="fas fa-list"></i> Categoria:</b>
                  </label>
                <select class="form-select" aria-label="Default select example" name="category" id="category">
                  <option value="ofimatica" selected>Ofimatica</option>
                  <option value="redes sociales">Redes Sociales</option>
                </select>
              </div>
              
              <div class="col-12">
                <label class="form-label">
                  <br>
                  <b><i class="fas fa-comment-alt"></i> Descripcion:</b>
                </label>
                <div class="input-group mb-3">
                  <textarea type="text" class="form-control" placeholder="Describa" cols="57" rows=5 id="description" name="description" required></textarea>
                </div>
              </div>
              </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Agregar</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <!-- Final Modal agregar curso-->


    <script type="text/javascript">
      $(document).ready(function() {
    
        $('#actualizar').click(function() {
          actualizarEvento();
        });
    
        $('#eliminar').click(function() {
          eliminaEvento();
        });
    
      });
    </script>

<script src="obtenerDatos.js"></script>

  </section>
  <!-- /End User Profile Area -->
  
  <%- include('../templates/footer') %>