<%- include('../templates/head', {tituloWeb: '- Tienda' }) %>

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-title align-left" style="padding:0;">
                        <span class=" wow fadeInDown" data-wow-delay=".2s">Tienda</span>
                        <h2 class="wow fadeInUp text-wrap" data-wow-delay=".4s">Cursos
                            Disponibles
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12" style="margin-top: 35px;">
                    <div class="container-fluid">
                        <div class="d-flex" style="float:right;">
                            <input class="form-control me-2" id="buscador" type="search"
                                placeholder="Escriba el nombre del curso" aria-label="Search"
                                style="width : 400px; height : 10px">
                            <button class="btn btn-outline-primary" id="btnBuscar">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- Herramientas de trabajo -->

            <h2 class="wow fadeInUp text-center" data-wow-delay=".2s">Herramientas de trabajo</h2>

            <br>


            <div class="single-head">
                <div class="row">
                    <% if (cursosOfimatica) { %>
                        <% cursosOfimatica.forEach(curso=> { %>
                            <div class="col-lg-3 col-md-6 col-12 mb-5">
                                <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                    <h5 class="text-center"> <%= curso.name %></h5>
                                    <input type="hidden" class="text-center" value="<%= curso.category %>"></input>
                                    <input type="hidden" class="text-center" value="<%= curso.description %>"></input>
                                    <div class="col text-center">
                                        <a href="/tienda/<%= curso.name %> ">
                                            <img src="images/products/<%= curso.logo %>" alt="#" height="200px"
                                                width="200px">
                                        </a>
                                    </div>
                                    <p class="text-center"><%= curso.price %></p>
                                    <br>
                                    <div class="button text-center">
                                        <a href="/carrito" class="btn btn-add" >Añadir a carrito</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>

            </div>


            <hr>
            <!-- Redes sociales -->

            <h2 class="wow fadeInUp text-center" data-wow-delay=".2s">Redes Sociales</h2>

            <br>
            <div class="single-head">
                <img class="service-patern wow fadeInLeft" data-wow-delay=".5s" src="images/service/service-patern.png"
                    alt="#">
                <div class="row">
                    <% if (cursosRedesSociales) { %>
                        <% cursosRedesSociales.forEach(curso=> { %>
                            <div class="col-lg-3 col-md-6 col-12 mb-5">
                                <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                    <h5 class="text-center"><%= curso.name %></h5>
                                    <input type="hidden" class="text-center" value="<%= curso.category %>"></input>
                                    <input type="hidden" class="text-center" value="<%= curso.description %>"></input>
                                    <div class="col text-center">
                                        <a href="/tienda/<%= curso.name %> ">
                                            <img src="images/products/<%= curso.logo %>" alt="#" height="200px"
                                                width="200px">
                                        </a>
                                    </div>
                                    <p class="text-center"><%= curso.price %></p>
                                    <br>
                                    <div class="button text-center">
                                        <a href="/carrito" class="btn btn-add">Añadir a carrito</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                         <% } %>
                </div>
            </div>

            <div style="display: none;">
                <!-- Carrito de compra -->
                <div class="col-lg-9 col-md-9 col-9">
                    <h4 class="wow fadeInUp text-center mb-1" data-wow-delay=".4s">Productos seleccionados</h4>
                    <div class="single-head wow fadeInUp" data-wow-delay=".4s">
                        <div class="">
                            <table class="table table-bordered  border-primary">
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col">Producto</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody id="items"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Fin de carrito de compras -->

                <div class="col-lg-3 col-md-3 col-3 wow fadeInRight" data-wow-delay=".4s">
                    <div class=" text-center" style="width: 18rem;">
                        <div id="toPay">
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de confirmacion-->
            <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Curso Agregado al Carrito</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        </div>
                        <div class="modal-body">
                            Se a agregado este curso al Carrito, para pagar debe dirigirse a la seccion de
                            <b>Carrito</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Final Modal de confirmacion-->
        </div>
    </section>
    <!-- /End Services Area -->
    <script>
        var element = document.getElementById('tienda');
        element.classList.add('active');
    </script>
    <script defer src="/js/franklin.js"></script>

    <%- include('../templates/footer') %>